# Dependências
node_modules/
dist/
build/

# Variáveis de Ambiente (Segurança)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/prisma/migrations/
*.db
*.db-journal

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/